# Python cruft
*.pyc

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

#Images of individual distributions
figures/distributions/*.eps

#Private communication data from Kessedjian et al.
Kessedjian_et_al/

# Mac cruft
.DS_Store

# Check points
.ipynb_checkpoints